<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="list">Administration du garage</a>
    </div>
    <div class="navbar-buttons">
      <button class="btn btn-success" ng-click="onVisu()" ng-disabled="loading">
        <span class="glyphicon glyphicon-eye-open"></span> Prévisualiser
      </button>
      <button class="btn btn-danger" ng-click="onPublish()" ng-disabled="loading">
        <span class="glyphicon glyphicon-floppy-disk"></span> Publier
      </button>
    </div>
  </div>
</nav>
