h1 {
  margin: 0 0 10px 0;
}

.navbar {
  margin-bottom: 10px;
}

label.required::after {
  margin-left: 4px;
  content: '*'
}

.form-group > .help-block {
  display: none;
}

.form-group.has-error > .help-block {
  display: block;
}
